@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #4b4b4b;
}
::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 4px;
}

.chatList::-webkit-scrollbar,
.profile::-webkit-scrollbar,
.newChats::-webkit-scrollbar,
.requests::-webkit-scrollbar {
  width: 4px;
}

.chatList::-webkit-scrollbar-track,
.profile::-webkit-scrollbar-track,
.newChats::-webkit-scrollbar-track,
.requests::-webkit-scrollbar-track {
  background: #4b4b4b;
}

.chatList::-webkit-scrollbar-thumb,
.profile::-webkit-scrollbar-thumb,
.newChats::-webkit-scrollbar-thumb,
.requests::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 4px;
}

.loginPage {
  background: url("../public/5c34ad169532125.Y3JvcCwyOTQ0LDIzMDMsNjE5LDIyMzc.webp");
  height: 100dvh;
}

.profile,
.newChats {
  transition: transform 0.3s ease;
  width: 34%;
  transform: translateX(-150%);
}
.profile.open,
.newChats.open {
  transform: translateX(0);
}

.btn-navigation {
  padding: 0.3rem;
  font-weight: bolder;
}

.chatList-container,
.request {
  width: 33%;
}

.chatList,
.request {
  height: calc(100vh - 5rem);
}
.chat {
  width: 34%;
}
.chat-messages {
  height: calc(100vh - 7rem);
  width: 100%;
}

@media screen and (max-width: 600px) {
  .profile,
  .newChats {
    width: 100%;
  }
  .chat {
    transition: transform 0.3s ease-out;
    width: 34%;
    transform: scale(0);
  }
  .chat.open {
    transform: scale(1);
  }
  .chat,
  .request {
    width: 100%;
  }
  .chat-messages {
    height: calc(100vh - 25%);
    width: 100%;
  }
}
