@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.chatList::-webkit-scrollbar {
  width: 4px;
}

.chatList::-webkit-scrollbar-track {
  background: #4b4b4b;
}
.chatList::-webkit-scrollbar-thumb {
  background: #a2a2a2;
  border-radius: 4px;
}

.loginPage {
  background: url("../public/5c34ad169532125.Y3JvcCwyOTQ0LDIzMDMsNjE5LDIyMzc.webp");
  height: 100dvh;
}

.profile {
  transition: transform 0.3s ease;
  transform: translateX(150%);
}
.profile.open {
  transform: translateX(0);
}

.btn-navigation {
  padding: 0.3rem;
  font-weight: bolder;
}

.chat {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
}

.chatList {
  height: calc(100vh - 5rem);
}

@media screen and (max-width: 600px) {
  .chat {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
  }
}
